<div class="app-content-body ">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3">Activity Manage</h1>
    </div>
    <div class="wrapper-md">
        <div class="panel panel-default">
            <div class="panel-heading">
                <ul class="nav nav-pills pull-right">
                    <li><a href="/activity/import" data-pjax=""><i class="fa icon-doc"></i> 导入 </a></li>
                    <li><a href="javascript:void(0);"><i class="fa icon-cloud-download"></i> 导出 </a></li>
                    <li><a href="/activity/logs"><i class="fa icon-film"></i> 日志 </a></li>
                    <li><a href="javascript:void(0);" id="btn_add"><i class="fa fa-eye"></i> 查询 </a></li>
                    <li><a href="/activity/manage?do=create" data-pjax=""><i class="fa fa-plus"></i> 添加 </a></li>
                </ul>
                活动管理
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="padder-v padder">
                        <div class="m-b-md">
                            <div class="panel-body">
                                {% for item in lists %}
                                <div class="panel b-b ">
                                    <div class="wrapper-lg">
                                        <h2 class="m-t-none"><a class="text-info" href="/activity/manage?do=edit&id={{item['id']}}" data-pjax>{{item['title']}}</a></h2>
                                        <div>
                                            <p>{{item['content']}}</p>
                                        </div>
                                        <div class="line line-lg b-b b-light"></div>
                                        <div class="text-muted">
                                            <i class="fa fa-clock-o text-muted"></i> <span class="<?php if( strtotime($item['end_time']) < time()){ ?>text-danger-dk<?php }?>">{{item['start_time']}} - {{item['end_time']}}</span>
                                            <a href="/activity/manage?do=edit&id={{item['id']}}" data-pjax class="m-l-sm"><i class="fa fa-user icon-note text-muted"></i> 修改 </a>
                                            <a href="/activity/manage?do=cfg&id={{item['id']}}" data-pjax class="m-l-sm"><i class="fa fa-comment-o icon-settings text-muted"></i> 查看 </a>
                                            {%if item['status'] != 1%}
                                            <span class="label bg-warning m-l-sm" title="">限制</span>
                                            {% endif %}
                                            {%if item['type'] == 'prepay' %}
                                            <span class="label bg-info m-l-sm" title="">充值</span>
                                            {% elseif item['type'] == 'spend' %}
                                            <span class="label bg-danger m-l-sm" title="">消费</span>
                                            {% elseif item['type'] == 'login' %}
                                            <span class="label bg-primary m-l-sm" title="">登录</span>
                                            {% elseif item['type'] == 'level' %}
                                            <span class="label bg-success m-l-sm" title="">等级</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="line line-dashed b-b line-lg pull-in"></div>-->
                                {% endfor %}
                            </div>
                        </div>
                        <footer class="panel-footer">
                        <div class="row">
                            <div class="col-sm-12 text-right text-center-xs">
                                <ul class="pagination pagination-sm m-t-none m-b-none">
                                    {{page}}
                                </ul>
                            </div>
                        </div>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <form id="collapseOne" role="form" action="/activity/index" method="post" data-pjax="">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myModalLabel">活动查询</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="txt_parentdepartment">关键字</label>
                    <input type="text" name="search" class="form-control" value="{{query['search']}}" id="txt_parentdepartment" placeholder="">
                </div>
                <div class="form-group">
                    <label for="txt_departmentname">活动类型</label>
                    <select class="form-control" name="type">
                        <option value="">请选择</option>
                        <option value="prepay" {%if query['type']=='prepay'%}selected{%endif%}>充值</option>
                        <option value="spend" {%if query['type']=='spend'%}selected{%endif%}>消费</option>
                        <option value="login" {%if query['type']=='login'%}selected{%endif%}>登录</option>
                        <option value="exp" {%if query['type']=='exp'%}selected{%endif%}>经验</option>
                        <option value="level" {%if query['type']=='level'%}selected{%endif%}>等级</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="txt_parentdepartment">开始时间</label>
                    <input type="text" name="start_time" class="form-control form_datetime" value="{{query['start_time']}}" placeholder="">
                </div>

                <div class="form-group">
                    <label for="txt_parentdepartment">结束时间</label>
                    <input type="text"  name="end_time" class="form-control form_datetime" value="{{query['end_time']}}" placeholder="">
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭</button>
                <button type="button" id="btn_submit" class="btn btn-primary" data-dismiss="modal"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>查询</button>
            </div>
        </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function() {
        $("#btn_add").click(function () {
            $('#myModal').modal();
        });

        $(".btn-primary").click(function () {
            $('#myModal').modal('hide');
            setTimeout("$('#collapseOne').submit()",500);
        });

        $(".form_datetime").datetimepicker({
            format: "yyyy-mm-dd hh:00:00",
            autoclose: true,
            todayBtn: true,
            todayHighlight: true,
            showMeridian: true,
            pickerPosition: "bottom-left",
            language: 'zh-CN',//中文，需要引用zh-CN.js包
            startView: 2,//月视图
            minView: 1//日期时间选择器所能够提供的最精确的时间选择视图
        });
    });
</script>