<style>
    #chartdiv {
        width: 100%;
        height: 500px;
    }

    .amcharts-export-menu-top-right {
        top: 10px;
        right: 0;
    }
    #example_filter{
        text-align: right;
    }
    #example_paginate{
        text-align: right;
    }
    #example_paginate ul{
        margin: 0px;
    }
    #example_info{
        padding-top: 8px;
        white-space:nowrap;
    }
</style>
<div class="app-content-body ">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3">Pay Manage</h1>
    </div>
    <div class="wrapper-md">
        <div class="panel panel-default">
            <div class="panel-heading">
                <ul class="nav nav-pills pull-right">
                    <li><a href="/setting/gateways?do=create" data-pjax=""><i class="fa fa-plus"></i> 添加 </a></li>
                </ul>
                支付管理
            </div>
            <div class="table-responsive">
                <table class="table table-striped b-t b-light">
                    <thead>
                    <tr>
                        <th style="width:5%">ID</th>
                        <th style="width:15%">网关</th>
                        <th style="width:10%">子网关</th>
                        <th style="width:10%">付费类型</th>
                        <th style="width:10%">名称</th>
                        <th style="width:10%">货币</th>
                        <th style="width:10%">是否沙箱测试</th>
                        <th style="width:10%">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if gateways is defined %}
                    {% for item in gateways %}
                    <tr>
                        <td>{{item['id']}}</td>
                        <td>{{item['gateway']}} </td>
                        <td>{{item['sub']}} </td>
                        <td>{{item['typename']}} </td>
                        <td>{{item['name']}} </td>
                        <td>{{item['currency']}} </td>
                        <td>{{item['sandboxname']}} </td>
                        <td>
                            <a href="/setting/gateways?do=edit&id={{item['id']}}" data-pjax="" class="btn btn-sm btn-info">edit</a>
                            <!--<a href="/setting/removepay?id={{item['id']}}" class="btn btn-sm btn-danger" ng-click="" onclick="return confirm('确认删除?')">del</a>-->
                        </td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
