<div class="app-content-body ">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3">Product Manage</h1>
    </div>
    <div class="wrapper-md">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <ul class="nav nav-pills pull-right">
                            <li><a href="javascript:history.back(-1)"><i class="fa fa-mail-reply-all"></i> 返回 </a></li>
                        </ul>
                        <i class="fa fa-cube"></i> 产品品信息
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal " data-pjax="" method="post" action="/product/create" role="form">
                            <div class="form-group">
                                <label for="firstname" class="col-sm-2 control-label">
                                    产品名称
                                </label>
                                <div class="col-sm-8">
                                    <input type="text" name="name" class="form-control" placeholder="产品名称" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="firstname" class="col-sm-2 control-label">
                                    产品ID
                                </label>
                                <div class="col-sm-8">
                                    <input type="text" name="product_id" class="form-control" placeholder="产品ID" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="firstname" class="col-sm-2 control-label">
                                    软件包
                                </label>
                                <div class="col-sm-8">
                                    <input type="text" name="package" class="form-control" placeholder="软件包" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="lastname" class="col-sm-2 control-label">网关</label>
                                <div class="col-sm-4">
                                    <select name="gateway" class="form-control">
                                        <option value="0">无</option>
                                        {% for item in parent %}
                                        <option value="{{item['gateway']}}">{{item['name']}}[{{item['gateway']}}]</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="firstname" class="col-sm-2 control-label">
                                    产品价格
                                </label>
                                <div class="col-sm-3">
                                    <input name="price" type="text" placeholder="产品价格" value="0" class="form-control">
                                </div>
                                <label for="firstname" class="col-sm-2 control-label">
                                    货币类型
                                </label>
                                <div class="col-sm-3">
                                    <select name="currency" class="form-control">
                                        <option value="USD">USD</option>
                                        <option value="CNY">CNY</option>
                                        <option value="TWD">TWD</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="firstname" class="col-sm-2 control-label">
                                    可兑换钻石
                                </label>
                                <div class="col-sm-8">
                                    <input type="text" name="coin" class="form-control" placeholder="可兑换钻石">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="firstname" class="col-sm-2 control-label">
                                    图片
                                </label>
                                <div class="col-sm-8">
                                    <input type="text" name="image" class="form-control" placeholder="图片地址">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="firstname" class="col-sm-2 control-label">
                                    描述
                                </label>
                                <div class="col-sm-8">
                                    <textarea class="form-control" name="remark" rows="3"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="firstname" class="col-sm-2 control-label">排序</label>
                                <div class="col-sm-8">
                                    <input ui-jq="TouchSpin" name="sort" type="text" value="0" class="form-control" data-min='0' data-max="1000" data-verticalbuttons="true" data-verticalupclass="fa fa-caret-up"  data-verticaldownclass="fa fa-caret-down">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="lastname" class="col-sm-2 control-label">商品状态</label>
                                <div class="col-sm-3">
                                    <label class="i-switch bg-info m-t-xs m-r">
                                        <input type="checkbox" name="status" value="1" checked>
                                        <i></i>
                                    </label>
                                </div>
                                <label for="lastname" class="col-sm-2 control-label">
                                    <a data-toggle="collapse" class="text-info" data-parent="#accordion" href="#collapseOne">更多设置</a>
                                </label>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse">
                                <div class="form-group">
                                    <label for="lastname" class="col-sm-2 control-label">起止时间</label>
                                    <div class="col-sm-4" ng-controller="DatepickerDemoCtrl">
                                        <div class="input-group w-full">
                                            <input class="form_datetime form-control" type="text" name="start_time1" size="16">
                                        </div>
                                    </div>
                                    <div class="col-sm-4" ng-controller="DatepickerDemoCtrl">
                                        <div class="input-group w-full">
                                            <input class="form_datetime form-control" type="text" name="end_time1" size="16">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="firstname" class="col-sm-2 control-label">类型</label>
                                    <div class="col-sm-3">
                                        <select name="type1" class="form-control">
                                            <option value="0">无</option>
                                            <option value="promo">promo</option>
                                            <option value="first_purchase">first_purchase</option>
                                        </select>
                                    </div>
                                    <label for="firstname" class="col-sm-2 control-label">低限</label>
                                    <div class="col-sm-3">
                                        <input name="lowest1" type="text" class="form-control" placeholder="低限">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="firstname" class="col-sm-2 control-label">货币数量</label>
                                    <div class="col-sm-3">
                                        <input name="optioncoin1" type="text" class="form-control" placeholder="货币数量">
                                    </div>
                                    <label for="firstname" class="col-sm-2 control-label">道具</label>
                                    <div class="col-sm-3">
                                        <input name="prop1" type="text" class="form-control" placeholder="道具">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="lastname" class="col-sm-2 control-label">起止时间</label>
                                    <div class="col-sm-4" ng-controller="DatepickerDemoCtrl">
                                        <div class="input-group w-full">
                                            <input class="form_datetime form-control" type="text" name="start_time2" size="16">
                                        </div>
                                    </div>
                                    <div class="col-sm-4" ng-controller="DatepickerDemoCtrl">
                                        <div class="input-group w-full">
                                            <input class="form_datetime form-control" type="text" name="end_time2" size="16">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="firstname" class="col-sm-2 control-label">类型</label>
                                    <div class="col-sm-3">
                                        <select name="type2" class="form-control">
                                            <option value="0">无</option>
                                            <option value="promo">promo</option>
                                            <option value="first_purchase">first_purchase</option>
                                        </select>
                                    </div>
                                    <label for="firstname" class="col-sm-2 control-label">低限</label>
                                    <div class="col-sm-3">
                                        <input name="lowest2" type="text" class="form-control" placeholder="低限">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="firstname" class="col-sm-2 control-label">货币数量</label>
                                    <div class="col-sm-3">
                                        <input name="optioncoin2" type="text" class="form-control" placeholder="货币数量">
                                    </div>
                                    <label for="firstname" class="col-sm-2 control-label">道具</label>
                                    <div class="col-sm-3">
                                        <input name="prop2" type="text" class="form-control" placeholder="道具">
                                    </div>
                                </div>
                            </div>
                            <div class="line line-dashed b-b line-lg pull-in"></div>
                            <div class="form-group">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <button type="submit" class="btn btn-info">确认添加</button>
                                    <a class="btn btn-default" onclick="javascript:history.back(-1)">取消添加</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $(".form_datetime").datetimepicker({
            format: "yyyy-mm-dd hh:00:00",
            autoclose: true,
            todayBtn: true,
            todayHighlight: true,
            showMeridian: true,
            pickerPosition: "bottom-left",
            language: 'zh-CN',//中文，需要引用zh-CN.js包
            startView: 2,//月视图
            minView: 1//日期时间选择器所能够提供的最精确的时间选择视图
        });
    });
</script>